@import "vendor/_bootstrap.scss";

/* variables*/

$primary-color:#3b5a76;
$background_color:#ededed;
$text_color:#363636;
$font:16px;


body {
  font-family: 'Open Sans',Arial,Tahoma;
  color: $text_color;
  background: $background_color;
  font-size: $font;
}
.primary,h2,strong {
  color: $primary-color;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1.5em;
}
.container-main {
    background: #fff;
    margin-top: 80px;
    padding: 0 30px 30px 30px;

}
header {
  min-height: 100px;
  overflow: auto;
}
header h1 {
  margin: 0px;
  padding:20px 0 0 0;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.4em;
}

.imageperson {
  margin: auto;
  display: block;
  margin-top: -60px;
  width: 160px;
}
.imageline {
  width: 100%;
}
.contactlist {
  padding: 0;
  margin: 0;
}
.contactlist li {
  list-style: none;
  font-weight: bold;
  line-height: 3.2em;
}
.contactlist span {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0.1em;
  margin-left: 37px;
  font-size: 15px;
  color: lightgray;
}

.row {
  margin-bottom: 20px;
}
.media {
  background: $background_color;
  padding: 10px;
}

footer {
  background: $primary-color;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
